{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Grab your Collections...!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p class="my-5"  align="justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate aliquid optio iusto dolorum
                    magni dolore ex, neque ut possimus rem molestias mollitia et iure alias quisquam, quam quis,
                    blanditiis aspernatur?
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}