{% extends 'base.html'%}
{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="card mb-3">
        <div class="row g-0 justify-content-center ">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{ product.description}}</p>
                    {% if product.if_sale %}
                    <!-- Sale -->
                    <div class="d-flex justify-content-center small-text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>

                    <!-- Product price-->
                    <center><strike>${{ product.price }}</strike>
                    &nbsp;
                    <!-- Sale price-->
                    ${{ product.sale_price }}
                    {% else %}
                    ${{ product.price }}</center>
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-md-2">Quantity : </div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>
                    </div>

                    <br><br>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                    <button type="button" value="{{product.id}}" id="add-cart" class="btn btn-secondary">Add to
                        Cart</button>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
</br></br></br></br></br></br></br></br></br></br></br></br>

<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function (json) {
                // console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },

            error: function (xhr, errmsg, err) {

            }


        });



    })




</script>

{% endblock %}