{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Profile</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update user profile</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="{% url 'update_user' %}">
                {% csrf_token %}

                {{ user_form.as_p}}
                <button type="submit" class="btn bth-seco">Update Profile</button>

            </form>
        </div>
    </div>
</div>

</div>
{% endblock %}